<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/content/css/animate.css">
    <link rel="stylesheet" href="/content/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <% if(pageCss) {%>
        <style><%- pageCss %></style>
    <% } %>
</head>
<body>
    <div class="top-bar hidden-sm-down">
        <div class="container">
            <span class="info-left">Welcome </span>
            <span class="info-left"><%- config.GOOGLE_LINK.value %></span>
            <span class="info-left"><%- config.CONTACT_PHONE.value %></span>
        </div>
    </div>
<nav class="navbar navbar-expand-lg navbar-light bg-navbar-custom">
  
    <div class="container">
    <a class="navbar-brand" href="/"><img class="logo" src="<%- config.LOGO_IMAGE_LINK.value %>"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <% for(let menuItem of config.HEADER_MENU) {%>
            <% if(menuItem.childrens.length) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="<%- menuItem.link %>" data-toggle="dropdown">
                        <%- menuItem.label %>
                    </a>
                    <div class="dropdown-menu">
                    <% for(let submenu of menuItem.childrens) {%>
                      <a class="dropdown-item" href="<%- submenu.link %>"><%- submenu.label %></a>
                    <% } %>
                    </div>
                  </li>
            <%  }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="<%- menuItem.link %>"><%- menuItem.label %></a>
                </li>
            <% } %>
        <% } %>
        </ul>
    </div>
    </div>  
</nav>

